<nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <a class="navbar-brand" href="#">
     <img class="logo" src="assets/SYC.png" style="width:200px; height:60px;" alt="SYC">
    </a>
    <a class="navbar-brand" href="#">
        <img class="logo" src="assets/ppe_legend.png">
    </a>

    <a class="navbar-brand" [routerLink]="['/report']">
      <span style="color: white; font-size: 9px;">Reporte</span>
  </a>
 </nav>

<router-outlet></router-outlet>

<footer class="page-footer font-small special-color-dark pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"><small>© 2022 Copyright: UESSC</small></div>
    <!-- Copyright -->
</footer>
