<div class="container mt-5">
    <h3>Docentes Animadores PPE</h3>
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">No</th>
          <th class="text-center">Nombre</th>
          <th class="text-center">Cursos</th>
          <th class="text-center">Proyecto</th>
          <th class="text-center">Cantidad</th>
          <th class="text-center">Registro</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of data; let i = index;">
              <td width="20" class="text-center">{{i+1}}</td>
              <td>{{item.nombre}}</td>
              <td>{{item.cursos}}</td>
              <td>{{item.proyecto}}</td>
              <td class="text-center">{{item.cantidad}} / {{item.cantidadMax}}</td>
              <td width="250" class="text-center">                
                  <a [routerLink]="['/todo/registro/', item.id]">
                    <button type="button" class="btn btn-primary btn-sm">Registro</button>
                  </a>
              </td>
            </tr>
      </tbody>
    </table>
  </div>